.main-nav {
    height: 55px;
    width: 100%;
    background: #323A40;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 75px;
}

.links {
    margin-right: 75px;
}

.ham-menu {
    width: 30px;
    height: 30px;
    margin-right: 75px;
    background-image: url('http://www.stickpng.com/assets/images/588a64e7d06f6719692a2d11.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}


.square {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background: red
}

.square-spin {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.transition {
    height: 50px;
    width: 50px;
    margin: 100px auto;
    background: lightcoral;
    transition: .6s;
}

.transition:hover {
    height: 150px;
    width: 150px;
    background: lightblue
}

.menu {
    width: 200px;
    height: 100vh;
    background: lightblue;
    position: absolute;
    right: -200px;
    top: 55px;
    transition: .6s;
}

.slide {
    right: 0;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 900px) {
    .links {
        visibility: hidden;
    }
    
    .ham-menu {
        display: inline;
    }

    .menu {
        right: 0
    }
}